<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    一、一年有几个季节？是哪几个季节？
    <br>
    <br>
    <br>
 
二、春、夏、秋、冬四个季节最具代表性的自然现象是什么？
<br>  <br>  <br>

三、将下列字的音节补充完整。  <br>
霜___uānɡ  降___iànɡ  <br>
落___uò    游___óu  <br>

四、看拼音，写字词。  <br>  <br>  <br>  <br>  <br>  <br>  <br>


五、根据课文内容连一连。  <br>
<p> <span style="margin-left:20px">池 </span>    <span style="margin-left:20px"></span> 草 </span>   <span style="margin-left:20px"></span>  水 </span></p>
<p><span style="margin-left:20px"></span>山     </span><span style="margin-left:20px">  花    </span> <span style="margin-left:20px"></span>  林 </span></p>
<p><span style="margin-left:20px"></span>鱼    </span><span style="margin-left:20px">   出   </span>  <span style="margin-left:20px"></span>  青</p>
<p><span style="margin-left:20px"></span>鸟    </span> <span style="margin-left:20px">  入  </span>  <span style="margin-left:20px"></span>   红</p>

六、请用一个动词形容一下这些自然现象。 <br>
春天到  春风____  桃花____   柳树____ 草芽____  <br>
夏天到  夏雨____  荷花____   青蛙_____ <br>
秋天到  秋霜____  树叶____  谷穗_____ 秋风____ <br>  
冬天到  冬雪____  梅花_____ 雪人____ <br>

七、选择合适的动词填空。(填序号)<br>
A.吹　　B.落　　C.降　　D.飘<br>
春风(   ) 夏雨(   ) 秋霜(   ) 冬雪(   ) <br>

八、阅读儿歌，回答问题。<br>
夏夜真迷人<br>
夏夜夏夜真迷人，田野好像音乐厅，<br>
小青蛙，在敲鼓；小蟋蟀，在弹琴；<br>
吸引一群萤火虫，提着灯笼赶来听。<br>
1.根据短文内容连一连。<br><br><br><br>

2.你知道谁是观众吗？在正确答案后面的括号里打“√”。<br>
蟋蟀（  ）萤火虫（  ）青蛙（  ）<br>

</body>
</html>